<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0.1">
<dict>
	<key>Author</key>
	<string>crococoding</string>
	<key>Builder Version</key>
	<string>12603.1.30.0.34</string>
	<key>CFBundleDisplayName</key>
	<string>Surf Clock</string>
	<key>CFBundleIdentifier</key>
	<string>com.crococoding.crocostatDEV2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>0</integer>
		<key>Global Page</key>
		<string>safari/global_safari.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>safari/popup_safari.html</string>
				<key>Height</key>
				<integer>600</integer>
				<key>Identifier</key>
				<string>statsPopover</string>
				<key>Width</key>
				<integer>500</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>statsToolbarItem</string>
				<key>Image</key>
				<string>safari/icon_64.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Surf Clock</string>
				<key>Palette Label</key>
				<string>Surf Clock</string>
				<key>Popover</key>
				<string>statsPopover</string>
				<key>Tool Tip</key>
				<string>Surf Clock</string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>com.crococoding</string>
	</array>
	<key>Description</key>
	<string>This extension tracks the time you spend surfing on the web.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://surfclock.io</string>
</dict>
</plist>
