/* general */

html,
body {
	width: 500px;
	height: 600px;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: 300;
}

p {
	margin: 0;
}

#header,
#main,
#footer {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

#header {
	height: 0;
	padding: 0;
}

#footer {
	height: 100px;
}

/* doughnut */

#chart {
	width: 100%;
	height: 480px;
	z-index: 1;
}

#info,
#indicator {
	position: absolute;
	left: 0;
	top: 0;
	height: 380px;
	width: 380px;
	border-radius: 50%;
	margin: 60px;
	overflow: hidden;
}

/* indicator */

#indicator {
	transition: all .2s;
	z-index: -2;
}

#indicator div {
	border: 6px double white;
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -16px;
	height: 21px;
	width: 21px;
	border-radius: 50%;
	border-top-right-radius: 0;
	transform: rotate(45deg);
	transition: all .2s;
}

/* info */

#info {
	line-height: 380px;
	z-index: -1;
	height: 394px;
    width: 394px;
    margin: 53px;
    box-shadow: 0 0 50px 1px rgba(0,0,0,.7) inset;
}

#info > div {
	display: inline-block;
	vertical-align: middle;
}

#info p {
	line-height: 1em;
	font-size: 19px;
	padding: 0 50px;
	margin: 15px 0;
}

#info p span {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	/*border-radius: 8px;
	padding: 0 7px;*/
	white-space: nowrap;
	word-break: keep-all;
}

#domain {
	font-weight: bold;
	white-space: normal !important;
	word-break: normal !important;
}

/* observation control */

#observationControl {
	height: 8px;
}

.noUi-horizontal .noUi-handle {
	width: 6px;
	height: 18px;
	top: -5px;
	left: -1px;
	background: black;
	border: 2px solid white;
	border-radius: 0;
	box-shadow: none;
	cursor: ew-resize;
}

.noUi-horizontal .noUi-handle-upper {
	left: -5px;
}

.noUi-connect {
	background: yellow;
	border: 1px solid black;
	box-shadow: none;
	cursor: move;
}

.noUi-target {
	border-radius: 6px;
	box-shadow: none;
	background: lightgrey;
	border: none;
}

.noUi-horizontal .noUi-handle::after,
.noUi-horizontal .noUi-handle::before {
	display: none;
}

.noUi-pips-horizontal {
    padding-bottom: 0;
    height: 30px;
}

.noUi-pips {
	display: none;
}

#text {
	margin-top: 10px;
}

/* reset control */

#resetControl,
#resetControl:visited {
	color: lightgrey;
	display: inline-block;
	margin-top: 25px;
}
