body {
	width: 500px;
	height: 600px;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: 300;
	overflow: hidden;
}

p {
	margin: 0;
}

#header,
#main,
#footer {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

#header,
#footer {
	height: 50px;
}

/* total time */

#headerText {
	font-size: 20px;
}

/* doughnut */

#chart {
	width: 100%;
	height: 480px;
	/*z-index: 1;*/
}

/* domain info */

#domainInfo {
	position: absolute;
	left: 0;
	top: 0;
	height: 380px;
	width: 380px;
	border-radius: 50%;
	margin: 60px;
	overflow: hidden;
	line-height: 380px;
	/*z-index: -1;*/
}

#domainInfo div {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

#name {
	font-size: 30px;
	word-break: break-all;
	margin: 0 0 10px 0;
	line-height: 1em;
}

#description {
	font-size: 20px;
	line-height: 1.3em;
}

/* footer */

#footer > * {
	border: 1px solid #179DFD;
	border-radius: 6px;
	display: inline-block;
}

#footer > *:not(:last-child) {
	margin-right: 30px;
}

#footer > * > * {
	color: black;
	display: block;
	float: left;
	font-size: 13px;
	padding: 5px 10px;
	text-decoration: none;
	transition: all .2s;
}

#footer a:first-of-type,
#footer label:first-of-type  {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#footer a:last-of-type,
#footer label:last-of-type {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#footer > * > *:hover {
	background: rgba(23, 157, 253, .3);
	cursor: pointer
}

#footer a:focus,
#footer input:checked + label {
	background: rgba(23, 157, 253, 1);
	color: white;
	outline: 0;
}

#observationControlGroup input {
	display: none;
}
