body {
	width: 500px;
	height: 600px;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: 300;
	overflow: hidden;
}

p {
	margin: 0;
}

#header,
#main,
#footer {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

#header,
#footer {
	height: 50px;
}

/* total time */

#header p {
	font-size: 20px;
}

/* doughnut */

#chart {
	width: 100%;
	height: 480px;
	z-index: 1;
}

#wrapper,
#indicator {
	position: absolute;
	left: 0;
	top: 0;
	height: 380px;
	width: 380px;
	border-radius: 50%;
	margin: 60px;
	overflow: hidden;
}

/* indicator */

#indicator {
	transition: all .2s;
	z-index: -2;
}

#indicator div {
	border: 6px double white;
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -16px;
	height: 21px;
	width: 21px;
	border-radius: 50%;
	border-top-right-radius: 0;
	transform: rotate(45deg);
	transition: all .2s;
}

/* wrapper */

#wrapper {
	line-height: 380px;
	/*z-index: -1;*/
}

#wrapper > div {
	display: inline-block;
	vertical-align: middle;
}

.innerCircleSection {
	padding: 15px 0;
}

/* total info, domain info */

#domainInfo h2,
#totalInfo h2 {
	font-size: 17px;
	font-weight: normal;
	color: rgba(23, 157, 253, 1);
	word-break: break-all;
	margin: 0;
	line-height: 2em;
}

#domainInfo p,
#totalInfo p {
	font-size: 20px;
	line-height: 1.3em;
}

/* observation control */

#observationControl {
	line-height: 1.5em;
}

#observationControl form {
	display: inline-block;
	border: 1px solid #179DFD;
	border-radius: 6px;
	overflow: hidden;
}

#observationControl label {
	color: black;
	display: block;
	float: left;
	font-size: 15px;
	padding: 5px 10px;
	text-decoration: none;
	transition: all .2s;
}

#observationControl label:hover {
	background: rgba(23, 157, 253, .3);
	cursor: pointer
}

#observationControl input {
	display: none;
}

#observationControl input:checked + label { /* magic */
	background: rgba(23, 157, 253, 1);
	color: white;
}
