html,
body {
	width: 500px;
	height: 600px;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight: 300;
	color: #666666;
}

h1, h2 {
	padding: 0 40px;
	text-align: center;
}